/* cjdns-wiki 
Edit this file to customize styling

*/
body{
font-family:		'Droid Sans', mono;
font-size:		1em;
background-color:	#CCC;
}
.page {

}
.pageheader{
text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
margin-bottom:		2em;
}
#pagebody{

}
#content{
padding-left:		2em;
}
footer{

}
/* Table of Contents */
.toc{
float:			right;
clear:			all;
margin:			0em;
}
.toc ol li{
list-style-image:	url("/cjdns-wiki/media/menu-bullet.png");
}
/* Headers */
h{

}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('/media/droidsansmono.ttf'), url('http://themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJYW_AySPyikQrZReizgrnuw.ttf') format('truetype');
}		

a{

}
p{

}
blockquote{

}
em{

}
ol, ul{

}
li{

}
hr{

}
