/* cjdns-wiki 
Edit this file to customize styling

*/
body{
font-family:		'Droid Sans', mono;
font-size:		1em;
background-color:	#d9d9d9;
}
.page {

}
.pageheader{
padding-top:		2em;
margin-bottom:		2em;
}
#pagebody{

}
#content{
padding-left:		2em;
}
footer{

}
/* Table of Contents */
.toc{
float:			right;
clear:			all;
margin:			0em;
}
.toc ol li{
list-style-image:	url("/cjdns-wiki/media/menu-bullet.png");
}
/* Headers */
h{
margin-left:		-1em;
box-shadow: 0em 0em 2em 1em rgba(50, 40, 60, 1);
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('/media/droidsansmono.ttf'), url('http://themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJYW_AySPyikQrZReizgrnuw.ttf') format('truetype');
}		

a{
text-decoration:	none;
color:			black;
text-shadow: 2px 3px 0 rgba(80,80,80,0.5);
}
a:hover{
text-shadow:
	0px 0px 1em rgba(0,0,0,1),
	2px 3px 0 rgba(255,0,180,0.5);
}
p{

}
blockquote{

}
em{

}
ol, ul{
margin-top:		.5em;
}
li{

}
li(even){
background-color:	black;
}
hr{

}
