/* cjdns-wiki 
Edit this file to customize styling

*/

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('/media/droidsansmono.ttf'), url('http://themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJYW_AySPyikQrZReizgrnuw.ttf') format('truetype');
}
@font-face {
  font-family: 'Terminus';
  font-style: bold;
  font-weight: normal;
  src: local('/media/terminusbold.ttf') format('truetype');
}


body{
font-family:		'Droid Sans', Serif;
font-size:		1em;
background-color:	#d9d9d9;
}
.page {

}
.pageheader{
padding-top:		2em;
margin-bottom:		2em;
}
#pagebody{

}
#content{
padding-left:		2em;
padding-right:		3em;
}
footer{

}
/* Table of Contents */
.toc{
margin:			0em;
float:			right;
clear:			both;
background-color:	rgba(255,255,255,.5);
}
.toc ol li{
list-style-image:	url("/cjdns-wiki/media/menu-bullet.png");
}
/* Headers */
h1, h2, h3, h4, h5, h6{
margin-left:		-1em;
box-shadow: 1px 1px 1em 1px rgba(0, 0, 0, .5);
clear:			both;
padding:		.5em;
margin:			1em 1em 1.5em -.5em;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
a{
text-decoration:	none;
color:			black;
text-shadow: 2px 3px 0 rgba(80,80,80,0.5);
}
a:hover{
text-shadow:
	0px 0px 1em rgba(0,0,0,1),
	2px 3px 0 rgba(255,0,180,0.5);
}
p{

}
blockquote{

}
code{
padding:		.5em;
box-shadow: 1px 1px 1em 3px rgba(0, 0, 0, .5);
font-family:		'Terminus', Serif;
background:		black;
color:			#00FF00;
display:		block;
}
em{

}
ol, ul{
margin-top:		.5em;
}
li{

}
li(even){
background-color:	black;
}
hr{

}
